body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}
a {
  color: #000;
  text-decoration: none;
}
.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.social {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.social__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}
.social__link {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}
.social__link--fb {
  background-position: 0 -318px;
}
.social__link--insta {
  background-position: 0 -376px;
}
.social__link--tw {
  background-position: 0 -433px;
}
.social__link:hover {
  opacity: 1;
}
.social__link:active {
  opacity: 0.1;
}
.title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.01em;
  padding-top: 32px;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.title .container {
  width: 1040px;
}
.page-header {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #ffe27f;
}
.page-header::after {
  content: "";
  position: absolute;
  top: 130px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 169px;
  background-color: #ffe27f;
}
.page-header__logo {
  position: absolute;
  top: -19px;
  left: 58px;
}
.page-header__row {
  display: flex;
}
.page-header__row:nth-child(1) {
  margin-bottom: 29px;
}
.page-header__row:nth-child(2) {
  margin-bottom: 50px;
}
.page-header__search {
  position: relative;
  margin-right: 185px;
}
.page-header__search label {
  display: none;
}
.page-header__search input {
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  width: 355px;
  min-height: 40px;
  padding-left: 40px;
  padding-right: 20px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 36px;
  color: #000;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 4px 11px;
  border-bottom: 2px solid transparent;
}
.page-header__search input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3);
}
.page-header__search input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3);
}
.page-header__search input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3);
}
.page-header__search input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3);
}
.page-header__search input:focus {
  outline: none;
  animation: border-color 0.8s;
  border-bottom: 2px solid #000;
}
@keyframes border-color {
  0% {
    border-color: #ffe27f;
  }
}
.page-header__search input:hover::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.6);
}
.page-header__search input:hover::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.6);
}
.page-header__search input:hover:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.6);
}
.page-header__search input:hover:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.6);
}
.page-header__button {
  position: absolute;
  top: -9px;
  right: -85px;
  box-sizing: border-box;
  width: 85px;
  height: 49px;
  border: 2px solid #000;
  background-color: transparent;
  display: none;
  transition: background-color 0.6s;
  animation: button-scale 0.4s;
}
.page-header__button:hover {
  display: block;
  cursor: pointer;
  background-color: #000;
  color: #fff;
}
.page-header__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.page-header__search input:focus + .page-header__button {
  display: block;
}
@keyframes button-scale {
  0% {
    transform: scale(0);
  }
}
.page-header--inner::after {
  height: 56px;
}
.page-header--inner .page-header__logo {
  top: -17px;
  left: 61px;
}
.page-header--inner .page-header__row:nth-child(2) {
  margin-bottom: 47px;
}
.user-block {
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-block__item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 28px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}
.user-block__link {
  color: #000;
  font-size: 15px;
  line-height: 36px;
}
.user-block__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.user-block__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-block__login {
  width: 280px;
  background-position: 0 -23px;
}
.user-block__compare {
  padding-left: 24px;
  margin-right: 32px;
  background-position: 4px -118px;
}
.user-block__cart {
  background-position: 4px -210px;
}
.user-block--footer {
  margin-left: auto;
}
.user-block--footer .user-block__item {
  width: 120px;
}
.user-block--footer .user-block__item:active {
  opacity: 0.3;
}
.user-block--footer .user-block__link {
  color: rgba(255, 255, 255, 0.7);
  line-height: 22px;
}
.user-block--footer .user-block__link:hover {
  color: #fff;
}
.user-block--footer .user-block__login {
  width: 76px;
  margin-right: 34px;
  background-position: 4px -58px;
}
.user-block--footer .user-block__login:hover {
  background-position: 4px -90px;
}
.user-block__link--footer {
  margin-top: 5px;
}
.user-block--footer .user-block__compare {
  width: 92px;
  background-position: 4px -151px;
}
.user-block--footer .user-block__compare:hover {
  background-position: 4px -181px;
}
.user-block--footer .user-block__cart {
  width: auto;
  background-position: 4px -245px;
}
.user-block--footer .user-block__cart:hover {
  background-position: 4px -277px;
}
.page-header--inner .user-block__login {
  width: 280px;
}
.user-block__link--faded {
  color: rgba(0, 0, 0, 0.3);
}
.user-block__login a:nth-child(1) {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}
.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__item {
  display: inline-block;
  vertical-align: top;
}
.main-nav__catalog {
  position: relative;
  padding-right: 30px;
  margin-right: 288px;
}
.main-nav__catalog::before,
.main-nav__catalog::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 230px;
  width: 16px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-nav__catalog::after {
  transform: rotate(90deg);
}
.main-nav__catalog:hover::before,
.main-nav__catalog:hover::after {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-nav__catalog:active::before,
.main-nav__catalog:active::after {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-nav__delivery {
  position: relative;
  width: 154px;
}
.main-nav__delivery::after {
  content: "";
  position: absolute;
  top: 116px;
  left: -1px;
  z-index: 1;
  width: 100px;
  height: 7px;
  background-color: #fff;
  animation: move-out 0.8s;
}
.page-header--inner .main-nav__delivery::after {
  height: 0px;
}
@keyframes move-out {
  0% {
    transform: translateX(440px);
  }
}
.main-nav__item:nth-child(3) {
  width: 210px;
}
.main-nav__contacts {
  margin-left: auto;
}
.main-nav__link {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.main-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-nav__catalog:hover .sub-nav {
  display: block;
}
.main-nav__catalog:hover .main-nav__link {
  color: rgba(0, 0, 0, 0.6);
}
.main-nav--footer .main-nav__link {
  color: #fff;
}
.main-nav--footer .main-nav__link:hover {
  color: rgba(255, 255, 255, 0.6);
}
.main-nav--footer .main-nav__link:active {
  color: rgba(255, 255, 255, 0.3);
}
.main-nav__item--delivery {
  margin-left: 60px;
  margin-right: 32px;
}
.main-nav__item--warranty {
  margin-right: 14px;
}
.main-nav__item--contacts {
  margin-left: 25px;
}
.sub-nav {
  position: absolute;
  top: 25px;
  left: -60px;
  z-index: 5;
  box-sizing: border-box;
  min-height: 165px;
  padding-top: 25px;
  padding-left: 60px;
  background: linear-gradient(#ffe27f 0%, #ffe27f 23%, #ffe393 23%);
  display: none;
  animation: sub-nav-appear 0.4s;
}
@keyframes sub-nav-appear {
  0% {
    opacity: 0;
  }
}
.sub-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 1100px;
}
.sub-nav__row span {
  display: inline-block;
  vertical-align: top;
  width: 236px;
}
.sub-nav__row span:nth-child(2n) {
  width: 196px;
}
.sub-nav__link {
  font-size: 15px;
  line-height: 36px;
}
.sub-nav__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.sub-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.slider {
  position: relative;
}
.slider__slide {
  position: relative;
  display: none;
}
.slider__slide::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 26px;
  z-index: 2;
  width: 201px;
  height: 131px;
  background-color: transparent;
  background-repeat: no-repeat;
}
.slider__slide:nth-child(1)::after {
  background-image: url("../img/slide-01.png");
  animation: slide-after 0.5s;
}
.slider__slide:nth-child(2)::after {
  background-image: url("../img/slide-02.png");
  animation: slide-after 0.5s;
}
.slider__slide:nth-child(3)::after {
  background-image: url("../img/slide-03.png");
  animation: slide-after 0.5s;
}
@keyframes slide-after {
  0% {
    transform: translateY(120px);
  }
}
.slider__col:nth-child(1) {
  min-width: 600px;
}
.slider__img {
  animation: slider-img 0.6s;
}
.slider__img--1 {
  margin-left: 90px;
}
.slider__img--2 {
  margin-left: 116px;
  margin-top: 12px;
}
.slider__img--3 {
  margin-left: 30px;
  margin-top: 65px;
}
@keyframes slider-img {
  0% {
    opacity: 0;
  }
}
.slider__title {
  position: relative;
  z-index: 3;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.01em;
  margin-top: 76px;
  margin-bottom: 18px;
  animation: slider-title 0.6s;
}
@keyframes slider-title {
  0% {
    transform: rotateX(180deg);
  }
}
.slider__desc {
  position: relative;
  z-index: 3;
  margin: 0;
  width: 480px;
  margin-bottom: 42px;
  animation: slider-desc 0.5s;
}
@keyframes slider-desc {
  0% {
    color: #ffe27f;
  }
}
.slider-info {
  margin-top: 50px;
  margin-bottom: 110px;
  display: flex;
  animation: slider-info 0.4s;
}
.slider-info__col {
  margin-right: 80px;
}
.slider-info__value {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 36px;
  line-height: 50px;
  font-weight: 300;
}
.slider-info__desc {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}
@keyframes slider-info {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
}
.slider__controls {
  position: absolute;
  top: 327px;
  right: 62px;
  z-index: 10;
}
.slider__label {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font-size: 0;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background-color: #b2b2b2;
  border-radius: 50%;
  margin-right: 20px;
}
.slider__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
}
.slider__label:hover {
  cursor: pointer;
  background-color: #999;
}
.slider__label:active {
  background-color: #000;
}
.slide-1:checked ~ .slider__slides > .slider__slide:nth-child(1) {
  display: flex;
}
.slide-1:checked ~ .slider__controls .slider__label[for="slide-1"] {
  background-color: #000;
}
.slide-2:checked ~ .slider__slides > .slider__slide:nth-child(2) {
  display: flex;
}
.slide-2:checked ~ .slider__controls .slider__label[for="slide-2"] {
  background-color: #000;
}
.slide-3:checked ~ .slider__slides > .slider__slide:nth-child(3) {
  display: flex;
}
.slide-3:checked ~ .slider__controls .slider__label[for="slide-3"] {
  background-color: #000;
}
.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
  width: 200px;
  height: 40px;
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.button:hover {
  cursor: pointer;
}
.button--middle {
  width: 220px;
}
.button--long {
  width: 260px;
}
.button::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 8px;
  background-color: #ffc600;
  transition: height 0.4s, top 0.4s;
}
.button__inner {
  display: block;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.button__inner:hover {
  color: #000;
}
.button:hover::after {
  top: 0;
  height: 100%;
}
.button:active::after {
  background-color: #ffc600;
}
.button:active .button__inner {
  color: rgba(0, 0, 0, 0.3);
}
.popular-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}
.popular-item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #ffe27f;
  transition: background-color 0.25s;
}
.popular-item__img .to-bottom {
  margin-top: auto;
}
.popular-item__title {
  margin-top: 32px;
  margin-bottom: 0;
  width: 140px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.01em;
}
.popular-item__link:hover .popular-item__img {
  background-color: #ffc600;
}
.popular-item__link:hover .popular-item__title {
  color: rgba(0, 0, 0, 0.6);
}
.popular-item__link:active .popular-item__title {
  color: rgba(0, 0, 0, 0.3);
}
.popular-item__link:active .popular-item__img {
  opacity: 0.3;
}
.offers {
  background: linear-gradient(transparent 0%, transparent 25.6%, #e6e6e6 25.6%);
}
.offers .container {
  display: flex;
}
.offers__tabs {
  width: 284px;
  padding-top: 80px;
  position: relative;
}
.offers__tabs::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  width: 7px;
  height: 319px;
  background-color: #000;
}
.offers-tab {
  position: relative;
  display: block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0;
  width: 160px;
  height: 40px;
  margin-bottom: 25px;
  font-family: 'Gilroy';
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.offers-tab:hover {
  cursor: pointer;
}
.offers-tab:active {
  width: 277px;
}
.offers-tab::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: 1;
  width: 160px;
  height: 8px;
  background-color: #ffc600;
  transition: height 0.4s, top 0.4s, background-color 0.25s;
}
.offers-tab__inner {
  display: block;
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  width: 160px;
  height: 100%;
  background-color: transparent;
}
.offers-tab:hover::after {
  top: 0;
  width: 160px;
  height: 100%;
}
.offers-tab:hover .offers-tab__inner {
  color: #000;
}
.offers-tab:active::after {
  background-color: #ffc600;
}
.offers-tab:active .button__inner {
  color: rgba(0, 0, 0, 0.3);
}
.offers__items {
  padding-top: 68px;
  padding-left: 116px;
  padding-bottom: 130px;
}
.offers__item {
  position: relative;
  display: none;
}
.offers__item::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -244px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  animation: all-of-a-sudden 0.7s;
}
.offers__item--warranty::after {
  width: 171px;
  height: 195px;
  top: -10px;
  right: -224px;
  background-image: url("../img/warranty.png");
}
.offers__item--credit::after {
  width: 158px;
  height: 188px;
  top: -10px;
  right: -234px;
  background-image: url("../img/credit.png");
}
@keyframes all-of-a-sudden {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
}
.offers__title {
  margin: 0;
  margin-bottom: 26px;
  width: 400px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.02em;
  animation: offers-title 0.4s;
}
@keyframes offers-title {
  0% {
    color: #fff;
  }
}
.offers__desc {
  width: 450px;
  letter-spacing: 0.01em;
  animation: offers-desc 0.25s;
}
@keyframes offers-desc {
  0% {
    transform: translateY(-25px);
    opacity: 0.25;
  }
}
.tab-1:checked ~ .offers__tabs label[for="tab-1"] {
  width: 277px;
}
.tab-1:checked ~ .offers__tabs label[for="tab-1"]::after {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}
.tab-1:checked ~ .offers__tabs label[for="tab-1"] span {
  color: #ffe27f;
}
.tab-2:checked ~ .offers__tabs label[for="tab-2"] {
  width: 277px;
}
.tab-2:checked ~ .offers__tabs label[for="tab-2"]::after {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}
.tab-2:checked ~ .offers__tabs label[for="tab-2"] span {
  color: #ffe27f;
}
.tab-3:checked ~ .offers__tabs label[for="tab-3"] {
  width: 277px;
}
.tab-3:checked ~ .offers__tabs label[for="tab-3"]::after {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
}
.tab-3:checked ~ .offers__tabs label[for="tab-3"] span {
  color: #ffe27f;
}
.tab-1:checked ~ .offers__items .offers__item--delivery {
  display: block;
}
.tab-2:checked ~ .offers__items .offers__item--warranty {
  display: block;
}
.tab-3:checked ~ .offers__items .offers__item--credit {
  display: block;
}
.partners {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
  margin-bottom: 84px;
}
.partners__col {
  width: 260px;
}
.partners__col a {
  opacity: 0.2;
  transition: opacity 0.4s;
}
.partners__col a:hover {
  opacity: 1;
}
.partners__col a:hover img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  /* IE 6-9 */
}
.partners__col img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
}
.additional-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}
.info-block {
  position: relative;
  width: 560px;
}
.info-block::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}
.info-block__title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  margin-bottom: 38px;
}
.info-block__desc {
  width: 475px;
  margin-bottom: 30px;
}
.info-block__desc--long {
  width: 520px;
}
.info-block__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 65px;
  margin-bottom: 55px;
}
.info-block__item {
  position: relative;
  padding-left: 35px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}
.info-block__item::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border: 3px solid #b2b2b2;
  border-radius: 50%;
}
.info-block__map {
  margin-top: 39px;
  margin-bottom: 59px;
}
.page-footer {
  padding-top: 65px;
  background-color: #444444;
  color: #fff;
}
.page-footer__row--pseudo {
  position: relative;
}
.page-footer__row--pseudo::after {
  content: "";
  position: absolute;
  bottom: -143px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffe27f;
}
.page-footer__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.page-footer__row:nth-child(2) {
  margin-bottom: 61px;
}
.page-footer__row:nth-child(3) {
  margin-bottom: 0;
  padding-bottom: 64px;
}
.page-footer__logo {
  width: 163px;
  height: 36px;
  background-image: url("../img/logo-footer.png");
  background-position: 0 0px;
}
.page-footer__logo:hover {
  background-image: url("../img/logo-footer-hover.png");
}
.page-footer__logo:active {
  opacity: 0.3;
}
.breadcrumbs {
  list-style: none;
  padding: 0;
  margin-bottom: 44px;
}
.breadcrumbs.container {
  width: 1040px;
}
.breadcrumbs__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-right: 32px;
}
.breadcrumbs__item::after {
  content: "\003E";
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 10px;
  font-weight: 700;
}
.breadcrumbs__item:last-child::after {
  content: "";
}
.breadcrumbs__link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
}
.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}
.catalog-header {
  position: relative;
  background-color: #ebebeb;
}
.catalog-header .container {
  display: flex;
}
.catalog-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50%;
  height: 100%;
  background-color: #dbdbdb;
}
.catalog-header__filter {
  position: relative;
  z-index: 10;
  width: 328px;
  background-color: #dbdbdb;
}
.catalog-header__title {
  display: inline-block;
  vertical-align: top;
  margin-top: 26px;
  margin-bottom: 24px;
  margin-left: 60px;
  margin-right: 55px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
}
.catalog-header__title--margin {
  margin-left: 72px;
}
.catalog-header__sort {
  position: relative;
  z-index: 10;
  width: 832px;
  background-color: #ebebeb;
  display: flex;
}
.catalog-header__sort-list,
.catalog-header__sort-arrows {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-header__sort-item,
.catalog-header__arrow-item {
  display: inline-block;
  vertical-align: top;
  margin-top: 24px;
  margin-right: 26px;
  line-height: 18px;
}
.catalog-header__sort-link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
.catalog-header__sort-link:hover {
  color: rgba(0, 0, 0, 0.6);
}
.catalog-header__sort-link:active {
  color: #000000;
}
.catalog-header__sort-link--active {
  cursor: default;
  color: #000000;
}
.catalog-header__sort-link--active:hover {
  color: #000000;
}
.catalog-header__sort-arrows {
  margin-left: auto;
}
.catalog-header__arrow-item {
  margin-top: 28px;
  margin-right: 0;
}
.catalog-header__arrow-item:nth-child(1) {
  margin-right: 22px;
}
.catalog-header__arrow-link {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  width: 0;
  height: 0;
}
.catalog-header__arrow-up {
  border-left: 8.5px solid transparent;
  border-right: 8.5px solid transparent;
  border-bottom: 9px solid #bcbcbc;
}
.catalog-header__arrow-up:hover {
  border-bottom-color: #999;
}
.catalog-header__arrow-up:active {
  border-bottom-color: #000;
}
.catalog-header__arrow-up.catalog-header__arrow-link--active {
  border-bottom-color: #000;
}
.catalog-header__arrow-up.catalog-header__arrow-link--active:hover {
  border-bottom-color: #000;
}
.catalog-header__arrow-down {
  border-left: 8.5px solid transparent;
  border-right: 8.5px solid transparent;
  border-top: 9px solid #bcbcbc;
}
.catalog-header__arrow-down:hover {
  border-top-color: #999;
}
.catalog-header__arrow-down:active {
  border-top-color: #000;
}
.catalog-header__arrow-down.catalog-header__arrow-link--active {
  border-top-color: #000;
}
.catalog-header__arrow-down.catalog-header__arrow-link--active:hover {
  border-top-color: #000;
}
.catalog {
  position: relative;
  background-color: #fff;
}
.catalog .container {
  display: flex;
}
.catalog::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 50%;
  height: 100%;
  background-color: #eee;
}
.catalog__filter {
  position: relative;
  z-index: 10;
  width: 328px;
  background-color: #eee;
}
.catalog__items {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 832px;
  padding-top: 69px;
  padding-left: 72px;
  background-color: #fff;
}
.catalog__flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  position: relative;
}
.item__img {
  position: relative;
}
.item__img:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(239, 239, 239, 0.7);
  cursor: pointer;
  animation: img-blend-mode 0.1s;
}
@keyframes img-blend-mode {
  0% {
    opacity: 0;
  }
}
.item__img:hover .item__hover {
  display: block;
}
.item__hover {
  position: absolute;
  top: 170px;
  left: 81px;
  z-index: 10;
  width: 200px;
  text-align: center;
  display: none;
}
.item__to-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
}
.item__to-compare:hover {
  color: #000000;
}
.item__to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}
.item__info {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 51px;
}
.item__title {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.01em;
  width: 260px;
}
.item__price {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.01em;
}
