.user-block{
	.list-reset;
}

.user-block__item{
	.inline-block;

	box-sizing: border-box;
	padding-left: 28px;
	background-image: url("../img/spritesheet.png");
	background-repeat: no-repeat;
}

.user-block__link{
	color: #000;
	font-size: 15px;
	line-height: 36px;

	&:hover{
		color: rgba(0,0,0, 0.6);
	}

	&:active{
		color: rgba(0,0,0, 0.3);
	}
}

.user-block__login{
	width: 280px;
	background-position: 0 -23px;
}

.user-block__compare{
	padding-left: 24px;
	margin-right: 32px;
	background-position: 4px -118px;
}

.user-block__cart{
	background-position: 4px -210px;
}